.container-content {
    width: 1000px;
}

body {
    padding-top: 70px;
}

#carousel {
    min-height: 600px;
}

#video-home {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.picture {
    min-height: 400px;
}

.picture-small {
    height: 200px;
    width: 200px;
}

.picture-big {
    
}

.picture,
.picture-small,
.picture-big {
    background: cover;
    background-position: center;
}

.picture-box {
    padding-top: 30px;
}

.picture-tag {
    
}

.picture-tag > p {
    color:darkgrey
}

.tag-list {
    text-align: center;
}

footer {
    margin-top: 30px;
    padding-top:30px;
    min-height: 300px;
    background-color: #222;
    color: #fff;
}

.footer-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer ul li {
    list-style: inline;
}

footer div ul li a {
    text-decoration: none;
}