.container-content {
    width: 1000px;
}

body {
    padding-top: 70px;
    margin-bottom: 100px;
}

#carousel {
    min-height: 600px;
}

#video-home {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.picture {
    min-height: 400px;
}

.picture-small {
    height: 200px;
    width: 200px;
}

.picture-big {
    height: 600px;
    width: 600px;
}

.picture,
.picture-small,
.picture-big {
    background: cover;
    background-position: center;
}

.picture-box {
    padding-top: 30px;
}

.picture-tag {
    
}

.picture-tag > p {
    color:darkgrey
}

.tag-list {
    text-align: center;
}

shortcuts-list {
    margin-bottom: 30px;
}

#sidebar-right {
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    min-height: 100px;
    background-color: #222;
    color: #fff;
    
}

footer ul li {
    list-style: inline;
}

footer div ul li a {
    text-decoration: none;
}

.personalarea-btn {
    margin-bottom: 10px;
}